[Unit]
Description=Xpra emacsclient %i
Requires=xpra-emacs@%i.socket

[Service]
Type=simple
Environment=XPRA_EXPORT_MENU_DATA=false
ExecStart=/nix/store/5l2xxvsrm2r2irzk1x2i2w4b4ijkmvrp-xpra-6.2.3/bin/xpra \
start --daemon=no --socket-dirs=%t/xpra \
--printing=no --webcam=no --mdns=no --pulseaudio=no --opengl=no --source=/dev/null --splash=no --http-scripts=all \
--server-idle-timeout=60 --exit-with-children --terminate-children=yes \
--start-child="emacsclient --frame-parameters='((fullscreen . fullboth))' --create-frame" \

